<ion-view view-title="" ng-controller="FeedsCtrl" ng-swipe-right=alert("teste")>
    <div class="bar bar-reader bar-dark">
        <h1 class="title">  Notícias</h1>
    </div>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
            <a href="#/tab/doctor" class="button button-icon button-clear">
                <img src="img/ic3.png"/>
            </a>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <a href="#/login" class="button button-icon button-clear left_btn">
                <img src="img/ic1.png"/>
            </a>
            <button class="button button-icon button-clear ser_icon left_btn" ng-click="search_doc()">
                <img src="img/ic2.png"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div ng-class="{'animated slideInRight':search_input}" class="bar bar-subheader">
        <div class="list ser_inpt" ng-if="search_input">
            <label class="item item-input">
                <input type="text" placeholder="Buscar">
            </label>
        </div>
    </div>

    <ion-content class="hospital_list" style="background:#333">

        <div class="" style="padding-top: 35px;">

        <div  ng-repeat="feed in feeds">
            <a href="#/tab/news-detail_1"
               collection-item-width="'100%'"
               collection-item-height="220px">

                <div class="news_list" style="background:url('img/anuncio.jpg')no-repeat; background-size: 100% 100%;">
                    <div class="news_data">
                        <p class="title_hosp">{{feed.nome}}</p>
                        <p class="parag">
                                {{feed.descricao}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </ion-content>
</ion-view>
