<ion-tabs class="tabs-icon-top tabs-color-active-positive">
<ion-tab href="#/tab/feeds"  icon-on="tab_img third_img" icon-off="tab_img third_img">
    <ion-nav-view name="tab-feeds"></ion-nav-view>
</ion-tab>

<!-- Chats Tab -->
<ion-tab href="#/tab/unidadeDeSaude"  icon-on="tab_img four_img" icon-off="tab_img four_img">
    <ion-nav-view name="tab-unidadeDeSaude"></ion-nav-view>
</ion-tab>




<ion-tab href="#/tab/localizacao" icon-on="tab_img fir_img" icon-off=" tab_img fir_img"  >
    <ion-nav-view name="tab-localizacao">


    </ion-nav-view>
</ion-tab>
</ion-tabs>


<ion-nav-view name=""> </ion-nav-view>
<!--<button id="fab"   class="button  button-fab button-fab-bottom-right" style="margin-bottom: 40px; background-color: #ff362a;">-->
    <!--<i class="icon ion-plus"></i>-->
<!--</button>-->