
<ion-view view-title="Noticias">
    <ion-content>
         <div class="container col-md-12 " style="margin-top:10px;">
             
                <div class="view-form">  

                    <form action="NoticiasSV?action=noticiatopo" name="topoSV" class="form-horizontal" method="post">

                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Notícia de topo</div>
                            <div class="panel-body">
                                <div class="form-group">

                                    <label for="titulo" class="control-label col-md-2"> Título: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="tituloNoticiaTopo"  maxlength="50"  required />
                                    </div>

                                    <label for="imagem" class="control-label col-md-2"> Imagem:  </label>
                                    <div class="col-md-4">
                                        <input type="file" class="form-control" name="imagemNoticiaTopo"    required />
                                    </div>

                                </div> 

                                <div class="form-group">
                                    <label for="descricao" class="control-label col-md-2"> Descrição:  </label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="descricaoNoticiaTopo"    required />
                                    </div>
                                </div> 
                                <br/>
                                <br/>
                                <!-- BOTÕES DE AÇÕES -->
                                <div class="form-group">
                                    <div style="alignment-adjust: central" ><center>
                                            <span id="load"></span>
                                            <input type="submit" name="btnsubmit" class="btn btn-success" aria-label="Left Align">
                                            <input type="reset" name="btnreset" class="btn btn-danger" aria-label="Right Align">
                                        </center>
                                    </div>
                                    <div class="col-md-9" style="text-align: right"></div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <form action="NoticiasSV?action=noticiacotidiana" name="cotidianaSV" class="form-horizontal" method="post">

                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Notícias cotidianas</div>
                            <div class="panel-body">
                                <div class="form-group">

                                    <label for="modelo" class="control-label col-md-2"> Título: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="tituloNoticiaCotidiana"  maxlength="50"  required />
                                    </div>

                                    <label for="imagem" class="control-label col-md-2"> Imagem:  </label>
                                    <div class="col-md-4">
                                        <input type="file" class="form-control" name="imagemNoticiaCotidiana"    required />
                                    </div>

                                </div> 

                                <div class="form-group">
                                    <label for="NoticiasSV?action=descricao" class="control-label col-md-2"> Descrição:  </label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="descricaoNoticiaCotidiana"    required />
                                    </div>
                                </div> 
                                <br/>
                                <br/>
                                <!-- BOTÕES DE AÇÕES -->
                                <div class="form-group">
                                    <div style="alignment-adjust: central" ><center>
                                            <span id="load"></span>
                                            <input type="submit" name="btnsubmit" class="btn btn-success" aria-label="Left Align">
                                            <input type="reset" name="btnreset" class="btn btn-danger" aria-label="Right Align">
                                        </center>
                                    </div>
                                    <div class="col-md-9" style="text-align: right"></div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <form action="NoticiasSV?action=dicadesaude" name="dicasaude" class="form-horizontal" method="post">

                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="glyphicon glyphicon-alert"></span> Dicas de Saúde</div>
                            <div class="panel-body">
                                <div class="form-group">

                                    <label for="modelo" class="control-label col-md-2"> Título: </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="tituloDicaSaude"  maxlength="50"  required />
                                    </div>

                                    <label for="imagem" class="control-label col-md-2"> Imagem:  </label>
                                    <div class="col-md-4">
                                        <input type="file" class="form-control" name="imagemDicaSaude"    required />
                                    </div>

                                </div> 

                                <div class="form-group">
                                    <label for="descricao" class="control-label col-md-2"> Descrição:  </label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="descricaoDicaSaude"    required />
                                    </div>
                                </div> 
                                <br/>
                                <br/>
                                <!-- BOTÕES DE AÇÕES -->
                                <div class="form-group">
                                    <div style="alignment-adjust: central" ><center>
                                            <span id="load"></span>
                                            <input type="submit" name="btnsubmit" class="btn btn-success" aria-label="Left Align">
                                            <input type="reset" name="btnreset" class="btn btn-danger" aria-label="Right Align">
                                        </center>
                                    </div>
                                    <div class="col-md-9" style="text-align: right"></div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <form action="NoticiasSV?action=alterar" name="topoSV" class="form-horizontal" method="post"> 

                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="glyphicon glyphicon-remove-circle"></span> Alterar/Remover</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="noticiatopo" class="control-label col-md-2"> Notícia de Topo: </label>
                                    <div class="col-md-4">           
                                        <input type="text" class="form-control" name="alterartopo" maxlength="60" placeholder="Digite o título da notícia de topo"  required>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="load"></span>
                                        <input type="submit" name="btnsubmit" value="Alterar"  class="btn btn-success" aria-label="Left Align">
                                        <input type="reset" name="btnreset" value="Excluir" class="btn btn-danger" aria-label="Right Align">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="noticiatopo" class="control-label col-md-2"> Notícias Cotidianas: </label>
                                    <div class="col-md-4">           
                                        <input type="text" class="form-control" name="alteraNoticiaCotidiana" maxlength="60" placeholder="Digite o título da notícia de topo"  required>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="load"></span>
                                        <input type="submit" name="btnsubmit" value="Alterar"  class="btn btn-success" aria-label="Left Align">
                                        <input type="reset" name="btnreset" value="Excluir" class="btn btn-danger" aria-label="Right Align">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="noticiatopo" class="control-label col-md-2"> Dicas de saúde: </label>
                                    <div class="col-md-4">           
                                        <input type="text" class="form-control" name="alteraDicaSaude" maxlength="60" placeholder="Digite o título da notícia de topo"  required>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="load"></span>
                                        <input type="submit" name="btnsubmit" value="Alterar"  class="btn btn-success" aria-label="Left Align">
                                        <input type="reset" name="btnreset" value="Excluir" class="btn btn-danger" aria-label="Right Align">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->

    </ion-content>
</ion-view>
